DATABASE_URL="postgresql://postgres@localhost:5433/ecommerce_admin?schema=public"
PORT=3000
JWT_ACCESS_SECRET="ecommerce_admin_jwt_access_secret_key_2026"
JWT_ACCESS_EXPIRATION="15m"
JWT_REFRESH_SECRET="ecommerce_admin_jwt_refresh_secret_key_2026"
JWT_REFRESH_EXPIRATION="7d"
